body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 80vw;
  min-height: calc(100vh - 100px);
}
header {
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

main {
  display: inline-block;
  align-items: center;
}

section {
  width: 80%;
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

hr {
  width: 95%;
}
